		{% extends "base.html" %}
		{% block content %}
			<h3>your images</h3>
			<p/>
			{% if prev is defined %}
			<a href="/list?marker={{prev}}">prev</a>
			{% endif %}
			
			{% if next is defined %}
		 	<a href="/list?marker={{next}}">next</a>
			{% endif %}
			<dl>
			{% if images|count %}
				{% for image in images %}
					{% if image.content_type == 'image/jpeg' or image.content_type == 'image/gif' or image.content_type == 'image/png' %}
					<dt><a href="{{image.public_uri()}}">{{image.name}}</a></dt>
					<dd>{{"%.2f" | format(image.size/1024)}}kB</dd>
					<dd><span class="label label-info"><a class="label_link" href="{{cname}}/{{image.name}}">CNAME LINK</a></span></dd>
					<dd><span class="label label-important"><a href="/delete/{{image.name}}" class="label_link">delete</a></span></dd>
					{% endif %}
				{% endfor %}
			{% else %}
				No images found.
			{% endif %}
			</dl>
			{% if prev is defined %}
			<a href="/list?marker={{prev}}">prev</a>
			{% endif %}
			
			{% if next is defined %}
		 	<a href="/list?marker={{next}}">next</a>
			{% endif %}
		{% endblock %}
